body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
}
:root {
	--cell-size: clamp(1rem, 22vmin, 6rem);
	--dynamic-text: clamp(1rem, 15vmin, 4.5rem);
	--primary: #3d405b;
	--secondary: #e07a5f;
	--white: #f4f1de;
	--transition: .1s linear;
}
form {
	display: grid;
	grid-template-columns: repeat(4, var(--cell-size));
	gap: calc(2px + 1vmin);
}
.display {
	grid-area: 1 / span 4;
	color: var(--white);
	font-size: var(--dynamic-text);
	font-weight: 100;
}
input {
	height: var(--cell-size);
	cursor: pointer;
	background-color: var(--white);
	color: var(--primary);
	font-size: 1.5rem;
}
input[value='0'] {
	grid-column: span 2;
}
input[value='clear all'] {
	grid-column: span 2;
}
input {
	border-style: none;
	border: 0px solid var(--secondary);
	transition: border-width var(--transition);
	text-transform:capitalize;
}
input:hover {
	border-width: 4px;
}
input.number:not(input[value='0']) {
	border-radius: 50%;
}
input:not(.number),
input[value='0'] {
	border-radius: 30px;
}